version: 2.1
jobs:
  test-py36: &test-template
    docker:
      - image: circleci/python:3.6
    resource_class: small
    steps:
      - checkout
      - run:
          name: Setup a virtualenv
          command: virtualenv venv
      - run:
          name: Install dependencies
          command: |
            source venv/bin/activate
            pip install -r requirements.txt
            pip install python-coveralls
      - run:
          name: Run tests with coverage
          command: |
            source venv/bin/activate
            coverage run setup.py test
      - run:
          name: Send coverage results to Coveralls
          command: | 
            source venv/bin/activate
            COVERALLS_REPO_TOKEN=Wg14A2NUbPaB80MphwALo4zAzzrnrKe5Z coveralls
  test-py27:
    <<: *test-template
    docker:
      - image: circleci/python:2.7
workflows:
  test:
    jobs:
      - test-py36
      - test-py27
